body {
    margin:0;
    background-color: #E9EDC9;
    font-family: Arial, sans-serif;
    font-size: 18px;
}
.container {
    width: 800px;
    height: 300px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -150px;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #B3C99C;
    color: #4D4D4D;
}
th {
    background-color: #AEC2B6;
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}
td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}
